django==5.2.4
djangorestframework
markdown
django-filter
pandas
numpy
pillow
celery
pytest-django
django-storages
django-imagekit
baton
django-allauth
django-redis-cache
django-debug-toolbar
django-extensions
django-crispy-forms
django-haystack
django-cors-headers
django-guardian



